body{
    background-color: bisque;
}
.container{
    display:grid;
    grid-template-columns:repeat(12,1fr);
    height: 300px;
    border:2px solid black;
}
.row1,.row2,.row3{
    border:1px solid black;
}
.row1{
    /* grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2; */
    grid-column: 3/7;
    grid-row:1/2;
    background-color:skyblue;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
}
.row1col1,.row1col2,.row1col3,.row1col4{
    height:72px;
    border:2px solid black;
}
.row1col1{
    grid-row: 1/2;
    grid-column: 1/2;
}